*
!mise.toml
!mise.lock
!rust-toolchain.toml
!.github/
!.github/docker/
!.github/docker/ci.Dockerfile
!.mise/
!.mise/locks/
!.mise/locks/npm-oxfmt/
!.mise/locks/npm-oxfmt/**
!.config/
!.config/mise/
!.config/mise/tasks/
!.config/mise/tasks/mise-tasks-fmt.toml
